<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

  <name>Paytor</name>

  <description>
      App para ayuda económica
  </description>

  <author href="https://www.midominio.com" email="mcavied3@uniminuto.edu.co">
      Marlon Fernando Caviedes Ruiz
  </author>
  
  <icon src="icon.png" />
  
  <splash src="img/splash.png" width="320" height="480" />

</widget>